<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.regin.learnbox.splash">

    <application>
        <activity
            android:name="com.regin.learnbox.presentation.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="regin.com" />
                <data android:pathPrefix="/splash" />
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>

            <meta-data
                android:name="default-url"
                android:value="regin.com/splash" />
        </activity>
    </application>

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/title_splash">
        <dist:fusing include="true" />
    </dist:module>
</manifest>

